<div class="container bg-faded">
    <nav class="navbar navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarSupportedContent" class="navbar-collapse collapse">
            <a href="/" class="navbar-brand">Word Bait</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
            <ul *ngIf="loggedIn" class="nav navbar-nav">
                <li class="nav-item active dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" *ngIf="user">
                        {{user.name}}<i class="caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/account" >My Account</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()" href="#" [routerLink]="['/login']">Logout</a>
                    </div>
                </li>
            </ul>
            <ul *ngIf="!loggedIn" class="navbar-nav">
                <li class="nav-item"><a class="btn btn-primary" href="/login">Log in</a></li>
                <li class="nav-item"><a class="btn btn-success" [routerLink]="['/signup']">Sign up</a></li>
            </ul>
        </div>
    </nav>
</div>
