<div class="col-md-6 col-md-offset-3">
    <div class="panel">
        <div class="panel-body">
            <h2>Challenge A User?</h2>
            <table class="table table-bordered table-striped" >
                <thead><tr><th>Name</th></tr></thead>
                <tbody><tr *ngFor="let user of users | async"><td>{{user.name}}</td></tr></tbody>
            </table>
            <br>
            <a class="btn btn-primary" (click)="createGame()" role="button">Play Ranked</a>
        </div>
    </div>
</div>
